{% load gTTS %}

<!doctype html>
<html lang="en">
<head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
          integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

</head>
<body>

<div class="alert alert-primary" role="alert">
    Speak
<div class="container">

    <div class="form-group" style="margin-top: 100px; margin-bottom: 30px;">
        <select class="form-control" name="" id="micSelect"></select>
    </div>
    <div class="form-group">
        <select class="form-control" id="visSelect">
            <option value="frequencybars">Bar</option>
            <option value="sinewave">Wave</option>
            <option value="circle">Circle</option>
        </select>
    </div>

    <div class="audio-controls">
        <button id="record">Record</button>
        <button id="stop">Stop</button>
        <audio id="audio" controls></audio>
        <a href="{{ audio.audio.url }}">{{ audio.audio.url }}</a>
    </div>

    <div id="msg">Recording start...</div>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <center>
            <a id="download" name="dwn">Download</a>
        </center>

        <div class="container">
            <div class="form-group">
                <label for="exampleFormControlSelect1">Select Language.</label>
                <select class="form-control" id="exampleFormControlSelect1" name="dlang">
                    <option value="sq">Select Language</option>
                    <option value="sq">Albanian</option>
                    <option value="sq">Albanian</option>
                    <option value="am">Amharic</option>
                    <option value="ar">Arabic</option>
                    <option value="hy">Armenian</option>
                    <option value="az">Azerbaijani</option>
                    <option value="eu">Basque</option>
                    <option value="be">Belarusian</option>
                    <option value="bn">Bengali</option>
                    <option value="bs">Bosnian</option>
                    <option value="bg">Bulgarian</option>
                    <option value="my">Burmese Myanmar</option>
                    <option value="ca">Catalan</option>
                    <option value="ceb">Cebunao</option>
                    <option value="ny">Chichewa</option>
                    <option value="zh-cn"> Chinese Simplified</option>
                    <option value="zh-tw"> Chinese Traditional</option>
                    <option value="co">Corscian</option>
                    <option value="hr">Croatian</option>
                    <option value="cs">Czech</option>
                    <option value="da">Danish</option>
                    <option value="nl">Dutch</option>
                    <option value="en">English</option>
                    <option value="eo">Esperanto</option>
                    <option value="et">Estonian</option>
                    <option value="fi">Finnish</option>
                    <option value="tl">Filipino</option>
                    <option value="fr">French</option>
                    <option value="fy">Frisian</option>
                    <option value="gl">Galician</option>
                    <option value="ka">Georgian</option>
                    <option value="de">German</option>
                    <option value="el">Greek</option>
                    <option value="gu">Gujarati</option>
                    <option value="ht">haitian creole</option>
                    <option value="ha">Hausa</option>
                    <option value="haw">Hawaiian</option>
                    <option value="he">Hebrew</option>
                    <option value="iw">Hebrew</option>
                    <option value="hmn">Hmong</option>
                    <option value="hi">Hindi</option>
                    <option value="hu">Hungarian</option>
                    <option value="is">Icelandic</option>
                    <option value="ig">Igbo</option>
                    <option value="id">Indonesian</option>
                    <option value="ga">Irish</option>
                    <option value="it">Italian</option>
                    <option value="ja">Japanese</option>
                    <option value="jw">Javanese</option>
                    <option value="kn">Kannada</option>
                    <option value="kk">Kazakh</option>
                    <option value="km">Khmer</option>
                    <option value="ko">Korean</option>
                    <option value="ku">Kurdish (kurmanji)</option>
                    <option value="ku">Kurdish (Sorani)</option>
                    <option value="ky">Kyrgyz</option>
                    <option value="lo">Lao</option>
                    <option value="lv">Latvian</option>
                    <option value="lb">Luxembourgish</option>
                    <option value="mk">Macedonian(mac/mkd)</option>
                    <option value="mk">Malagasy</option>
                    <option value="ms">Malay</option>
                    <option value="ml">Malayalam</option>
                    <option value="lt">Maltese</option>
                    <option value="mi">Maori</option>
                    <option value="mr">Marathi</option>
                    <option value="mn">Mongolian</option>
                    <option value="my">Myanmar (Burmese)</option>
                    <option value="ne">Nepali</option>
                    <option value="no">Norwegian</option>
                    <option value="or">Odia(Oriya)</option>
                    <option value="ps">Pashto</option>
                    <option value="fa">Persia</option>
                    <option value="pl">Polish</option>
                    <option value="pt">Portuguese</option>
                    <option value="pa">Punjabi</option>
                    <option value="ro">Romanian</option>
                    <option value="ru">Russian</option>
                    <option value="sm">Samoan</option>
                    <option value="gd">Scottish Gaelic</option>
                    <option value="sr">Serbian</option>
                    <option value="st">Sesotho</option>
                    <option value="sn">Shona</option>
                    <option value="sd">Sindhi</option>
                    <option value="si">Sinhala</option>
                    <option value="sk">Slovak</option>
                    <option value="sl">Slovenian</option>
                    <option value="so">Somali</option>
                    <option value="es">Spanish</option>
                    <option value="sr">Serbian</option>
                    <option value="su">Sudanese</option>
                    <option value="sw">Swahili</option>
                    <option value="sv">Swedish</option>
                    <option value="tg">Tajik</option>
                    <option value="ta">Tamil</option>
                    <option value="te">Telugu</option>
                    <option value="th">Thai</option>
                    <option value="tr">Turkish</option>
                    <option value="uk">Ukrainian</option>
                    <option value="ur">Urdu</option>
                    <option value="ug">Uyghur</option>
                    <option value="uz">Uzbek</option>
                    <option value="vi">Vietnamese</option>
                    <option value="cy">Welsh</option>
                    <option value="xh">xhosa</option>
                    <option value="yi">Yiddish</option>
                    <option value="yo">Yoruba</option>
                    <option value="zu">Zulu</option>     
                </select>
            </div> 
            <div class="form-group">
                <label for="exampleFormControlSelect1">Select Language To Translate</label>
                <select class="form-control" id="exampleFormControlSelect1" name="lang">
            <option value="sq">Select Language</option>       
            <option value="sq">Albanian</option>
            <option value="sq">Albanian</option>
            <option value="am">Amharic</option>
            <option value="ar">Arabic</option>
            <option value="hy">Armenian</option>
            <option value="az">Azerbaijani</option>
            <option value="eu">Basque</option>
            <option value="be">Belarusian</option>
            <option value="bn">Bengali</option>
            <option value="bs">Bosnian</option>
            <option value="bg">Bulgarian</option>
            <option value="my">Burmese Myanmar</option>
            <option value="ca">Catalan</option>
            <option value="ceb">Cebunao</option>
            <option value="ny">Chichewa</option>
            <option value="zh-cn"> Chinese Simplified</option>
            <option value="zh-tw"> Chinese Traditional</option>
            <option value="co">Corscian</option>
            <option value="hr">Croatian</option>
            <option value="cs">Czech</option>
            <option value="da">Danish</option>
            <option value="nl">Dutch</option>
            <option value="en">English</option>
            <option value="eo">Esperanto</option>
            <option value="et">Estonian</option>
            <option value="fi">Finnish</option>
            <option value="tl">Filipino</option>
            <option value="fr">French</option>
            <option value="fy">Frisian</option>
            <option value="gl">Galician</option>
            <option value="ka">Georgian</option>
            <option value="de">German</option>
            <option value="el">Greek</option>
            <option value="gu">Gujarati</option>
            <option value="ht">haitian creole</option>
            <option value="ha">Hausa</option>
            <option value="haw">Hawaiian</option>
            <option value="he">Hebrew</option>
            <option value="iw">Hebrew</option>
            <option value="hmn">Hmong</option>
            <option value="hi">Hindi</option>
            <option value="hu">Hungarian</option>
            <option value="is">Icelandic</option>
            <option value="ig">Igbo</option>
            <option value="id">Indonesian</option>
            <option value="ga">Irish</option>
            <option value="it">Italian</option>
            <option value="ja">Japanese</option>
            <option value="jw">Javanese</option>
            <option value="kn">Kannada</option>
            <option value="kk">Kazakh</option>
            <option value="km">Khmer</option>
            <option value="ko">Korean</option>
            <option value="ku">Kurdish (kurmanji)</option>
            <option value="ku">Kurdish (Sorani)</option>
            <option value="ky">Kyrgyz</option>
            <option value="lo">Lao</option>
            <option value="lv">Latvian</option>
            <option value="lb">Luxembourgish</option>
            <option value="mk">Macedonian(mac/mkd)</option>
            <option value="mk">Malagasy</option>
            <option value="ms">Malay</option>
            <option value="ml">Malayalam</option>
            <option value="lt">Maltese</option>
            <option value="mi">Maori</option>
            <option value="mr">Marathi</option>
            <option value="mn">Mongolian</option>
            <option value="my">Myanmar (Burmese)</option>
            <option value="ne">Nepali</option>
            <option value="no">Norwegian</option>
            <option value="or">Odia(Oriya)</option>
            <option value="ps">Pashto</option>
            <option value="fa">Persia</option>
            <option value="pl">Polish</option>
            <option value="pt">Portuguese</option>
            <option value="pa">Punjabi</option>
            <option value="ro">Romanian</option>
            <option value="ru">Russian</option>
            <option value="sm">Samoan</option>
            <option value="gd">Scottish Gaelic</option>
            <option value="sr">Serbian</option>
            <option value="st">Sesotho</option>
            <option value="sn">Shona</option>
            <option value="sd">Sindhi</option>
            <option value="si">Sinhala</option>
            <option value="sk">Slovak</option>
            <option value="sl">Slovenian</option>
            <option value="so">Somali</option>
            <option value="es">Spanish</option>
            <option value="sr">Serbian</option>
            <option value="su">Sudanese</option>
            <option value="sw">Swahili</option>
            <option value="sv">Swedish</option>
            <option value="tg">Tajik</option>
            <option value="ta">Tamil</option>
            <option value="te">Telugu</option>
            <option value="th">Thai</option>
            <option value="tr">Turkish</option>
            <option value="uk">Ukrainian</option>
            <option value="ur">Urdu</option>
            <option value="ug">Uyghur</option>
            <option value="uz">Uzbek</option>
            <option value="vi">Vietnamese</option>
            <option value="cy">Welsh</option>
            <option value="xh">xhosa</option>
            <option value="yi">Yiddish</option>
            <option value="yo">Yoruba</option>
            <option value="zu">Zulu</option>
        
        </select>
    </div>
    <div class="custom-file">
                <input type="file" class="custom-file-input" id="customFileLang" lang="es" name="file">
                <label class="custom-file-label" for="customFileLang">Select Audio File.</label>
            </div>

            <input name="blobdata" id="blbdata">

            <center style="margin-top: 30px;">
                <button type="submit" class="btn btn-warning">Translated Speech </button>
            </center>
        </div>

    </form>

    <div class="container" style="text-align: center;">
        <h1 style="margin-top: 30px; margin-bottom: 20px;">Translated speech</h1>
        {% if text %}
            <center>
                <audio src="{% say text.dest text.text %}" controls></audio>
            </center>
        {% endif %}
    </div>

</div>
<div class="app">
    <div class="container">
        <canvas style="width: 100%; height: auto;"></canvas>
    </div>
    <div>
            

<style>
            #msg {
                visibility: hidden;
                color: red;
                font-weight: bold;
                font-size: 22px;
                font-family: Verdana;
            }

            button {
                padding: 5px 10px;
                border: 1px solid grey;
                font-size: 18px;
                background: white;
            }

            .audio-controls {
                display: flex;
                align-items: center;
                padding-top: 20px;
                justify-content: center;
            }

            .audio-controls button {
                margin: 0px 5px;
            }

            canvas {
                margin-top: 10px;
                background-color: black;
            }

            select {
                height: 25px;
                margin: 0px 5px;
            }

            a {
                margin-left: 20px;
            }

            .app {
                text-align: center;
                padding-top: 20px;
            }
        </style>
            

<script>
            (async () => {
                let leftchannel = [];
                let rightchannel = [];
                let recorder = null;
                let recording = false;
                let recordingLength = 0;
                let volume = null;
                let audioInput = null;
                let sampleRate = null;
                let AudioContext = window.AudioContext || window.webkitAudioContext;
                let context = null;
                let analyser = null;
                let canvas = document.querySelector('canvas');
                let canvasCtx = canvas.getContext("2d");
                let visualSelect = document.querySelector('#visSelect');
                let micSelect = document.querySelector('#micSelect');
                let stream = null;
                let tested = false;

                try {
                    window.stream = stream = await getStream(); 
                    console.log('Got stream');
                } catch (err) {
                    alert('Issue getting mic', err);
                }

                const deviceInfos = await navigator.mediaDevices.enumerateDevices();

                var mics = [];
                for (let i = 0; i !== deviceInfos.length; ++i) {
                    let deviceInfo = deviceInfos[i];
                    if (deviceInfo.kind === 'audioinput') {
                        mics.push(deviceInfo);
                        let label = deviceInfo.label ||
                            'Microphone ' + mics.length;
                        console.log('Mic ', label + ' ' + deviceInfo.deviceId)
                        const option = document.createElement('option')
                        option.value = deviceInfo.deviceId;
                        option.text = label;
                        micSelect.appendChild(option);
                    }
                }

                function getStream(constraints) {
                    if (!constraints) {
                        constraints = {audio: true, video: false};
                    }
                    return navigator.mediaDevices.getUserMedia(constraints);
                }


                setUpRecording();

                function setUpRecording() {
                    context = new AudioContext();
                    sampleRate = context.sampleRate;

                    // creates a gain node
                    volume = context.createGain();

                    // creates an audio node from teh microphone incoming stream
                    audioInput = context.createMediaStreamSource(stream);

                    // Create analyser
                    analyser = context.createAnalyser();

                    // connect audio input to the analyser
                    audioInput.connect(analyser);

                    // connect analyser to the volume control
                    // analyser.connect(volume);

                    let bufferSize = 2048;
                    let recorder = context.createScriptProcessor(bufferSize, 2, 2);

                    // we connect the volume control to the processor
                    // volume.connect(recorder);

                    analyser.connect(recorder);

                    // finally connect the processor to the output
                    recorder.connect(context.destination);

                    recorder.onaudioprocess = function (e) {
                        // Check
                        if (!recording) return;
                        // Do something with the data, i.e Convert this to WAV
                        console.log('recording');
                        let left = e.inputBuffer.getChannelData(0);
                        let right = e.inputBuffer.getChannelData(1);
                        if (!tested) {
                            tested = true;
                            // if this reduces to 0 we are not getting any sound
                            if (!left.reduce((a, b) => a + b)) {
                                alert("There seems to be an issue with your Mic");
                                // clean up;
                                stop();
                                stream.getTracks().forEach(function (track) {
                                    track.stop();
                                });
                                context.close();
                            }
                        }
                        // we clone the samples
                        leftchannel.push(new Float32Array(left));
                        rightchannel.push(new Float32Array(right));
                        recordingLength += bufferSize;
                    };
                    visualize();
                };
            


function mergeBuffers(channelBuffer, recordingLength) {
                    let result = new Float32Array(recordingLength);
                    let offset = 0;
                    let lng = channelBuffer.length;
                    for (let i = 0; i < lng; i++) {
                        let buffer = channelBuffer[i];
                        result.set(buffer, offset);
                        offset += buffer.length;
                    }
                    return result;
                }

                function interleave(leftChannel, rightChannel) {
                    let length = leftChannel.length + rightChannel.length;
                    let result = new Float32Array(length);

                    let inputIndex = 0;

                    for (let index = 0; index < length;) {
                        result[index++] = leftChannel[inputIndex];
                        result[index++] = rightChannel[inputIndex];
                        inputIndex++;
                    }
                    return result;
                }

                function writeUTFBytes(view, offset, string) {
                    let lng = string.length;
                    for (let i = 0; i < lng; i++) {
                        view.setUint8(offset + i, string.charCodeAt(i));
                    }
                }

                function start() {
                    recording = true;
                    document.querySelector('#msg').style.visibility = 'visible'
                    // reset the buffers for the new recording
                    leftchannel.length = rightchannel.length = 0;
                    recordingLength = 0;
                    console.log('context: ', !!context);
                    if (!context) setUpRecording();
                }

                function stop() {
                    console.log('Stop')
                    recording = false;
                    document.querySelector('#msg').style.visibility = 'hidden'


                    // we flat the left and right channels down
                    let leftBuffer = mergeBuffers(leftchannel, recordingLength);
                    let rightBuffer = mergeBuffers(rightchannel, recordingLength);
                    // we interleave both channels together
                    let interleaved = interleave(leftBuffer, rightBuffer);

                    ///////////// WAV Encode /////////////////
                    // from http://typedarray.org/from-microphone-to-wav-with-getusermedia-and-web-audio/
                    //

                    // we create our wav file
                    let buffer = new ArrayBuffer(44 + interleaved.length * 2);
                    let view = new DataView(buffer);

                    // RIFF chunk descriptor
                    writeUTFBytes(view, 0, 'RIFF');
                    view.setUint32(4, 44 + interleaved.length * 2, true);
                    writeUTFBytes(view, 8, 'WAVE');
                    // FMT sub-chunk
                    writeUTFBytes(view, 12, 'fmt ');
                    view.setUint32(16, 16, true);
                    view.setUint16(20, 1, true);
                    // stereo (2 channels)
                    view.setUint16(22, 2, true);
                    view.setUint32(24, sampleRate, true);
                    view.setUint32(28, sampleRate * 4, true);
                    view.setUint16(32, 4, true);
                    view.setUint16(34, 16, true);
                    // data sub-chunk
                    writeUTFBytes(view, 36, 'data');
                    view.setUint32(40, interleaved.length * 2, true);

                    // write the PCM samples
                    let lng = interleaved.length;
                    let index = 44;
                    let volume = 1;
                    for (let i = 0; i < lng; i++) {
                        view.setInt16(index, interleaved[i] * (0x7FFF * volume), true);
                        index += 2;
                    }

                    // our final binary blob
                    const blob = new Blob([view], {type: 'audio/wav'});

                    const audioUrl = URL.createObjectURL(blob);
                    console.log('BLOB ', blob);
                    console.log('URL ', audioUrl);
                    document.querySelector('#audio').setAttribute('src', audioUrl);
                    const link = document.querySelector('#download');
                    link.setAttribute('href', audioUrl);
                    link.download = 'output.wav';

                    
                    /*var def = new FileReader();
                    def.addEventListener("loadend", function (e) {
                        document.getElementById("blbdata").value
                            = e.srcElement.result;
                    });
                    def.readAsText(blob);*/
                    
            

$.ajax(
                        {
                            type: "GET",
                            url: "{% url 'TTSHome' %}",
                            contentType: 'multipart/form-data',
                            data: {
                                datas: audioUrl
                            },
                        })
                }

                // Visualizer function from
                // https://webaudiodemos.appspot.com/AudioRecorder/index.html
                //
                function visualize() {
                    WIDTH = canvas.width;
                    HEIGHT = canvas.height;
                    CENTERX = canvas.width / 2;
                    CENTERY = canvas.height / 2;

                    let visualSetting = visualSelect.value;
                    console.log(visualSetting);
                    if (!analyser) return;

                    if (visualSetting === "sinewave") {
                        analyser.fftSize = 2048;
                        var bufferLength = analyser.fftSize;
                        console.log(bufferLength);
                        var dataArray = new Uint8Array(bufferLength);

                        canvasCtx.clearRect(0, 0, WIDTH, HEIGHT);

                        var draw = function () {

                            drawVisual = requestAnimationFrame(draw);

                            analyser.getByteTimeDomainData(dataArray);

                            canvasCtx.fillStyle = 'rgb(200, 200, 200)';
                            canvasCtx.fillRect(0, 0, WIDTH, HEIGHT);

                            canvasCtx.lineWidth = 2;
                            canvasCtx.strokeStyle = 'rgb(0, 0, 0)';

                            canvasCtx.beginPath();

                            var sliceWidth = WIDTH * 1.0 / bufferLength;
                            var x = 0;

                            for (var i = 0; i < bufferLength; i++) {

                                var v = dataArray[i] / 128.0;
                                var y = v * HEIGHT / 2;

                                if (i === 0) {
                                    canvasCtx.moveTo(x, y);
                                } else {
                                    canvasCtx.lineTo(x, y);
                                }

                                x += sliceWidth;
                            }

                            canvasCtx.lineTo(canvas.width, canvas.height / 2);
                            canvasCtx.stroke();
                        };

                        draw();

                    } else if (visualSetting == "frequencybars") {
                        analyser.fftSize = 64;
                        var bufferLengthAlt = analyser.frequencyBinCount;
                        console.log(bufferLengthAlt);
                        var dataArrayAlt = new Uint8Array(bufferLengthAlt);

                        canvasCtx.clearRect(0, 0, WIDTH, HEIGHT);

                        var drawAlt = function () {
                            drawVisual = requestAnimationFrame(drawAlt);

                            analyser.getByteFrequencyData(dataArrayAlt);

                            canvasCtx.fillStyle = 'rgb(0, 0, 0)';
                            canvasCtx.fillRect(0, 0, WIDTH, HEIGHT);

                            var barWidth = (WIDTH / bufferLengthAlt);
                            var barHeight;
                            var x = 0;

                            for (var i = 0; i < bufferLengthAlt; i++) {
                                barHeight = dataArrayAlt[i];

                                canvasCtx.fillStyle = 'rgb(' + (barHeight + 100) + ',50,50)';
                                canvasCtx.fillRect(x, HEIGHT - barHeight / 2, barWidth, barHeight / 2);

                                x += barWidth + 1;
                            }
                        };

                        drawAlt();

                    } else if (visualSetting == "circle") {
                        analyser.fftSize = 32;
                        let bufferLength = analyser.frequencyBinCount;
                        console.log(bufferLength);
                        let dataArray = new Uint8Array(bufferLength);

                        canvasCtx.clearRect(0, 0, WIDTH, HEIGHT);

                        let draw = () => {
                            drawVisual = requestAnimationFrame(draw);

                            analyser.getByteFrequencyData(dataArray);
                            canvasCtx.fillStyle = 'rgb(0, 0, 0)';
                            canvasCtx.fillRect(0, 0, WIDTH, HEIGHT);

                            // let radius = dataArray.reduce((a,b) => a + b) / bufferLength;
                            let radius = dataArray[2] / 2
                            if (radius < 20) radius = 20;
                            if (radius > 100) radius = 100;
                            // console.log('Radius ', radius)
                            canvasCtx.beginPath();
                            canvasCtx.arc(CENTERX, CENTERY, radius, 0, 2 * Math.PI, false);
                            // canvasCtx.fillStyle = 'rgb(50,50,' + (radius+100) +')';
                            // canvasCtx.fill();
                            canvasCtx.lineWidth = 6;
                            canvasCtx.strokeStyle = 'rgb(50,50,' + (radius + 100) + ')';
                            canvasCtx.stroke();
                        }
                        draw()
                    }

                }
            


visualSelect.onchange = function () {
                    window.cancelAnimationFrame(drawVisual);
                    visualize();
                };

                micSelect.onchange = async e => {
                    console.log('now use device ', micSelect.value);
                    stream.getTracks().forEach(function (track) {
                        track.stop();
                    });
                    context.close();

                    stream = await getStream({
                        audio: {
                            deviceId: {exact: micSelect.value}
                        }, video: false
                    });
                    setUpRecording();
                }

                function pause() {
                    recording = false;
                    context.suspend()
                }

                function resume() {
                    recording = true;
                    context.resume();
                }

                document.querySelector('#record').onclick = (e) => {
                    console.log('Start recording')
                    start();
                }

                document.querySelector('#stop').onclick = (e) => {
                    stop();
                }
            })()
        </script>
    </div>
</div>


<!-- Optional JavaScript; choose one of the two! -->

<!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
        crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

<!-- Option 2: jQuery, Popper.js, and Bootstrap JS
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
-->
</body>
</html>
            